body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
}

#game-container {
    text-align: center;
}

h1 {
    color: #0061c2;
    font-size: 48px;
    margin-bottom: 20px;
}

#gameCanvas {
    border: 2px solid #000;
    background-color: #E0FFFF;
}

#player-inputs {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin: 0 5px;
}

button {
    padding: 5px 10px;
    background-color: #1E90FF;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #4169E1;
}

#game-mode-selection {
    margin-top: 20px;
}

#game-mode-selection button {
    margin: 0 10px;
}

label {
    margin-right: 5px;
}
