<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PengDuel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="game-container">
        <h1>PengDuel</h1>
        <canvas id="gameCanvas" width="800" height="600"></canvas>
        <div id="player-inputs">
            <input type="text" id="player1-name" placeholder="Player 1 Name">
            <input type="text" id="player2-name" placeholder="Player 2 Name">
            <button id="start-game">Start Game</button>
        </div>
        <button id="restart-game" style="display: none;">Restart Game</button>
    </div>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
